<div class="container">
    <div class=" pt-2 pb-2">
        <a class="btn btn-primary" routerLink="add" role="button">Add Product</a>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date Added</th>
                <th>Cate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products, index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td><img src="{{product.image}}" alt="anh" [width]="100"></td>
                <td style="color: red; font-weight: 700;">{{product.price}} VNĐ</td>
                <td>{{product.quantity}}</td>
                <td style="width: 10%;">{{product.dateAdded}}</td>
                <td>{{product._id}}</td>
                <td class="text-center d-flex gap-3 justify-content-center ">
                    <a routerLink="{{product._id}}/edit" class="btn btn-warning" role="button">Edit</a>

                    <button class="btn btn-danger" (click)=" onHandleRemove(product._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <section class="py-5" style="margin: 0px 35%;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="PreviousNext('Previous')">Previous</a></li>
                <ng-container *ngFor="let i of getRange()">
                    <li class="page-item" [ngClass]="{'button_page': (this.page == i + 1)}"><a class="page-link"
                            (click)="setPage(i+1)">{{ i + 1 }}</a>
                    </li>
                </ng-container>
                <li class="page-item"><a class="page-link" href="#" (click)="PreviousNext('Next')">Next</a>
                </li>
            </ul>
        </nav>
    </section>
</div>