<div class="container">
    <div class="pb-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="products">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="signin">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="signup">Sign Up</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- baner -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/1980/300" class="d-block w-100" alt="https://picsum.photos/1980/300">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/1981/300" class="d-block w-100" alt="https://picsum.photos/1981/300">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/1982/300" class="d-block w-100" alt="https://picsum.photos/1982/300">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>footer</footer>
</div>