<div class="container pt-3">
    <h1>Update New Product</h1>
    <form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Product Name:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="product"
                 formControlName="name" [(ngModel)]="product.name" name="name">
      
          <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched"
               class="text-danger">
            Vui lòng nhập tên sản phẩm.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Image:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Image"
                 formControlName="image" [(ngModel)]="product.image" name="image">
      
          <div *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched"
               class="text-danger">
            Vui lòng nhập hình ảnh.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Price:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="price"
                 formControlName="price" [(ngModel)]="product.price" name="price">
      
          <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched"
               class="text-danger">
            Vui lòng nhập giá sản phẩm và giá phải lớn hơn hoặc bằng 0.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Quantity:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="quantity"
                 formControlName="quantity" [(ngModel)]="product.quantity" name="quantity">
      
          <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched"
               class="text-danger">
            Vui lòng nhập số lượng sản phẩm và số lượng phải lớn hơn hoặc bằng 0.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    formControlName="description" [(ngModel)]="product.description"
                    name="description"></textarea>
      
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched"
               class="text-danger">
            Vui lòng nhập mô tả sản phẩm.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Date Add:</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="dateAdded"
                 formControlName="dateAdded" [(ngModel)]="product.dateAdded" name="dateAdded">
      
          <div *ngIf="productForm.get('dateAdded')?.invalid && productForm.get('dateAdded')?.touched"
               class="text-danger">
            Vui lòng chọn ngày thêm sản phẩm.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Category:</label>
          <select class="form-select" aria-label="Default select example" formControlName="categoryId" [(ngModel)]="product.categoryId"
          name="categoryId">
            <option value="" disabled selected hidden>Chọn danh mục</option>
            <option *ngFor="let category of category" [value]="category._id">{{ category.name }}</option>
          </select>
      
          <div *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched"
               class="text-danger">
            Vui lòng chọn danh mục.
          </div>
        </div>
      
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Update New</button>
        </div>
      </form>
</div>