<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-5">
            <form id="form">
                <div class="text-center">
                    <h1>Sign Up</h1>
                </div>
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                        <input type="text" id="name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Your Email</label>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"> </i></div>
                        <input type="email" id="email" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username">Your Username</label>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i> </div>
                        <input type="text" id="username" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Your Password</label>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i> </div>
                        <input type="text" id="password" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password-confirm">Confirm Your Password</label>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i> </div>
                        <input type="text" id="password-confirm" />
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>