<div class="container">
    <div class="text-center" style="margin: 50px auto;">
        <h1>All products of Young Fashion are available here</h1>
    </div>
    <div class="row">
        <div class="col-3 bg-gray">
            <div>

                <h3>Category</h3>
                <!-- Đổ dữ liệu ra trang -->
                <ul *ngFor="let category of categories">
                    <li><a routerLink="{{category.name}}/detail">{{category.name}}</a></li>

                </ul>
            </div>
            <div>
                <h3>Search Product</h3>
                <form (ngSubmit)="onHandleSubmit()">
                    <input type="text" class="form-control" style="width: 170px;" [(ngModel)]="search.name" name="name">
                    <button class="btn btn-outline-success" type="submit"
                        style="width: 170px; margin-top: 10px;">Search</button>

                </form>
            </div>
        </div>
        <div class="col-8" style="margin-left: 30px; margin-bottom: 50px;">
            <div class="row gx-5">

                <div class="col-lg-4" *ngFor="let product of products">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="{{product.image}}" alt="..." />
                        <a class="h5 fw-bolder text-decoration-none link-dark stretched-link"
                            routerLink="/products/{{product._id}}/detail">
                            {{product.name}}</a>
                        <span style="color: red; font-weight: 900;"> - {{product.price}}</span>
                    </div>
                </div>


            </div>
            <section class="py-5" style="margin: 50px 35%;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
            </div>
        </section>
    </div>
</div>