<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="form-signin text-center">
                <h1>Sign In</h1>
                <form class="px-4 py-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 mb-3">Sign in</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="signup">New around here? Sign up</a>
                    <a class="dropdown-item" routerLink="#">Forgot password?</a>
                </form>
            </div>
        </div>
        <div class="col-6">
            <img src="https://img.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg?w=740&t=st=1684463552~exp=1684464152~hmac=18de52112780b07e1367eb7b37f0205f30b7c005382585a42d0409986154bcd3"
                alt="">
        </div>
    </div>
</div>